html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

body {
	padding: 0.7em;
	padding-right: 0;
	margin: 0;
	background: #1c1c1c;
	color: #ddd;
	font-family: IPAMonaPGothic, Mona, 'MS PGothic', YOzFontAA97, Verdana, Arial, sans-serif;
	font-size: 0.9em;
	overflow-x: hidden;
}

* {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* dropdowns */

.container, .content {
	padding: 0.1em;
	padding-right: 0;
	border: 2px solid #111;
	border-right: none;
}

.content {
	margin-left: 0.7em;
	margin-right: 0;
}

.dropdown {
	padding: 0 0.1em;
	padding-right: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}

/* effects */

.dropdown:hover {
	background: #111;
}

.dropdown:active {
	background: #ddd;
	color: #111;
}

/* arrow */

.dropdown::before {
	content: "+";
	height: 0.8em;
	width: 0.8em;
	margin-right: 0.1em;
	background: #111;
	color: #ddd;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.dropdown.expanded::before {
	content: "-";
}
